@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#load {
    padding-top: 200px;
    padding-left: 250px;
}

/*------Change Password------*/
.Header {
    background-color: #cee2ffc7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header .index{
    padding-bottom: 20px;
}

.Background {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/images.marketing-interactive.com/wp-content/uploads/2019/04/30084721/SUTD-Singapore.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------Navigation Bar Section------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbarSupportedContent img{
    max-width: 100%;
    height: 50px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    color: #fff!important;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background: #333;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*------Form Section------*/
.home {
    padding: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.forms {
    background: #fec;
    padding: 30px;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .input_field {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.wrapper .form .input_field_showcase label {
    width: 140px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .input_field_showcase .input{
    width: 18.8%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .input_field .textarea {
    resize: none;
    height: 125px;
}

.wrapper .form .input_field .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .input_field .custom_select select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input_field .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus {
    border: 1px solid #fec107;
}

.wrapper .form .input_field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input_field:last-child {
    margin-bottom: 0;
}

.wrapper .form .input_field .btn:hover {
    background: #ffd658;
}

@media (max-width: 420px) {
    .wrapper .form .input_field {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label {
        margin-bottom: 5px;
    }
}


/*------Contact Section------*/
#contact {
    background: #333;
    color: #fff;
    padding: 12px;
}